body {
  background-color: black;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  h1, h2 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}
  p {
  color: white;
}
 h1 {
  color: #FFFFFF;
}
  body {

}


}
